body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: local('Roboto-Thin'), url(./assets/fonts/Roboto-Thin.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto-Bold'), url(./assets/fonts/Roboto-Bold.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url(./assets/fonts/Roboto-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto-Light'), url(./assets/fonts/Roboto-Light.ttf) format('ttf');
}
